
  ul li.checked::before {
    content: '';
    border-color: #8A2BE2;
    border-style: solid;
    border-width: 0 3px 3px 0;
    top: 10px;
    left: 16px;
    height: 15px;
    width: 7px;
  }

ul {
    margin: 0;
    padding: 0;
  }

 body {
    font-size:
  }
