body {
  background-color: #000000;
}

h1 {
  font-size: 50px;
  text-align: center;
  color: #FFFFFF;
  border-bottom: 1px solid #808080;
  padding:15px;
  margin:0;
}

h2 {
  font-size: 35px;
  text-align: left;
  color: #FFFFFF;
  padding:15px;
  border-bottom: 1px solid #808080;

}

p {
  font-size: 20px;
  text-align: left;
  color: #FFFFFF;
  margin:0;
  padding:15px;
}

nav {
  font-size: 20px;
  text-align: left;
  color: #FFFFFF;
  margin:0;
  padding:15px;
}

tb {
  font-size: 25px;
  text-align: center;
  color: #FFFFFF;
  margin:0;
  padding:15px;
}
  
ul {
  font-size: 20px;
  text-align: left;
  color: #FFFFFF;
  margin:0;
  padding:15px;
  border-bottom: 1px solid #808080;
}

ul{
  font-size: 20px;
  text-align: left;
  color: #FFFFFF;
  margin:0;
  padding:15px;
  border-bottom: 1px solid #808080;
}
