body {
  background-color: #000000;
}

h1 {
  font-size: 50px;
  text-align: center;
  color: #FFFFFF;
  border-bottom: 1px solid #808080:
  padding:15px;
  margin:0;
}

h2 {
  font-size: 30px;
  text-align: left;
  color: #FFFFFF;
  padding:15px;

}

p {
  font-size: 15px;
  text-align: left;
  color: #FFFFFF;
  margin:0;
  padding:15px;
}
